<div [formGroup]="subForm" class="app-sub-form-component"
    [style.borderColor]="isSubFormValid ? 'palegreen' : 'palevioletred'">
  <div>
      <input type="checkbox" [formControl]="subForm.get('selected')" /> Selected
  </div>
  <div>
  <label>
    Name:
    <input type="text" [formControl]="subForm.get('name')">
  </label>
  </div>
  <div *ngIf="subForm.get('name').invalid && (subForm.get('name').dirty || subForm.get('name').touched)" style="color: red;">
    <div *ngIf="subForm.get('name').errors['required']">
      Name is required.
    </div>
  </div>
  <div>
    <label>
      Surname:
      <input type="text" [formControl]="subForm.get('surname')">
    </label>
  </div>
  <app-gender [control]="subForm.get('gender')"></app-gender>
  <app-contact-details
  [contactDetailsRequired]="true"
  [control]="subForm.get('contactDetails')"></app-contact-details>
  <div><b>PERSONAL-DETAILS</b></div>
  <div>subForm.value = {{subForm.value | json}}</div>
  <div>subForm.valid = {{subForm.valid}}</div>
  <div>subForm.pristine = {{subForm.pristine}}</div>
  <div>control.value = {{control.value | json}}</div>
  <div>control.valid = {{control.valid}}</div>
  <div>control.pristine = {{control.pristine}}</div>
</div>
